html,
body {
  position: relative;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  padding: 0;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.slider {
  display: flex;
}
.gallery-thumbs {
  margin-right: 10px;
}
.gallery-thumbs .swiper-slide {
  overflow: hidden;
}
.gallery-thumbs .swiper-slide img {
  max-height: none;
  max-width: 100%;
}
.gallery-top {
  max-width: 80%;
}
.swiper-slide-thumb-active {
  border-bottom: 3px solid red;
}
